
.line {
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  animation: typing-animation 2s steps(30), reverse-typing-animation 2s steps(30) infinite alternate;
}

.line-3{
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
}

.line:nth-child(1) {
  animation-delay: 2s;
}

.line:nth-child(2) {
  animation-delay: 4s;
}


@keyframes typing-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes reverse-typing-animation {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
